@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Roboto', sans-serif;
}

body {
    /* background: rgb(100, 116, 139);
    background: linear-gradient(90deg, rgba(100, 116, 139, 1) 0%, rgba(14, 116, 144, 1) 100%); */
    background-color: rgb(243 244 246);
}

.banner-index {
    background-image: url('./assets/banner_principal.jpg');
}

.bg-nav {
    background: #031B5A;
}

.bg-puertas {
    background-image: url('./assets/the_doors-wallpaper-1920x1080.jpg');
}

.btn {
    /* padding: 0.5em 1em; */
    background-color: #BFBBBF;
    border: none;
    user-select: none;
    cursor: pointer;
    font-size: 20px;
    text-transform: uppercase;
    transition: all 0.5s linear;
    color: #fff;
    border-radius: 5px;
}


.modal {
    position: fixed;
    background-color: rgb(0 0 0 / 0.92);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.btn:hover {
    background-color:#1e183a;
    border-radius: 5px;
    scale: 1;
}

.btn::after{
    content: '';
    background: #031B5A;
    width: 0;
    height: 100%;
    position: absolute;
    inset: 0;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    border-radius: 5px;
    z-index: -1;    
}

.btn:hover::after {
    width: 100%;
}


.two::after {
    transform: translateX(-100%);
    transition: all 0.3s ease;
    visibility: hidden;
}

.two:hover::after {
        visibility: visible;
        transform: translateX(0);
}

.three::after {
    transition: all 0.5s linear;
}

.four::after {
    transition: all 0.5s linear;
    transform: translateX(-100px);
    opacity: 0;
}

.four:hover::after {
    transform: translateX(0);
    opacity: 1;
}

